@import 'compass';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: none;
  text-rendering: optimizelegibility;

  p {
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  h1 {
    color: #333333;
  }

  h4 {
    font-size: 16px !important;
    margin: 0;
  }
}
.container {
  width: 1200px !important;
  margin: 0 auto;
}

.float_left {
  float: left;
}

.float_right {
  float: right;  
}

.clear {
  clear: both;
}

#top_header {
  min-width: 1200px;
  background: black;
  height: 43px;
  color: #7D7D7D;
  font-size: 13px;

  .light_grey {
  	color: #BEBEBE;
  }
  
  .opening_hours {
    width: 400px;
    font-size: 11px !important;
    color: white;
    font-weight: bold;
  }

  .social_media.float_right {
    color: white; 
    font-size: 22px; 
    color: #818181; 
    padding-top: 0px;

    &:hover {
      cursor: pointer;
    }

    ul {
      list-style: none;
      margin: 0;
      margin-top: 8px;
      padding: 0;

      li {
        display: inline; 
        padding-right: 20px;
        padding-left: 20px;
        border-right: solid #292929 1px;
      }
    }
  }
}

#fixed_header {
  padding: 0px 0 10px 0;
  min-width: 100%;
  height: 50px;
  display: none;
  background: white;
  position: fixed;
  top: 0;
  z-index: 10000;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 5px 1px #000000;
  -moz-box-shadow: 0px 0px 5px 1px #000000;
  box-shadow: 0px 0px 5px 1px #000000;

  .container {
    position: relative;
    top: -15px;

    .logo {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      font-weight: bold;
      position: relative;
      top: 8px;

    a {
        color: #000000;
        text-decoration: none;
      }    
    }

    .nav_container {
      margin-top: 15px;

      ul {
        list-style: none; 
        color: #969595; 
        font-size: 12px; 
        padding-top: 14px;
        margin-top: 3px;

        li {
          display: inline; 
          padding: 11px 17px 11px 17px;

          a {
            color: #969595;
            text-decoration: none;
          }

          &:hover {
            cursor: pointer;
          }

        }
        .actives {
          border: solid #cfcfcf 2px; 
          padding: 10px 15px 10px 15px;
        }
        .active {
          border: solid #cfcfcf 2px; 
          padding: 10px 15px 10px 15px;
        }
      }
    }
  }
}

#main_nav {
  padding: 2px 0 10px 0;
  min-width: 1200px;

  .container {

  	.logo {
  		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  		font-weight: bold;

    a {
        color: #000000;
        text-decoration: none;
      }    
  	}

  	.nav_container {
      margin-top: 15px;

      ul {
        list-style: none; 
        color: #969595; 
        font-size: 14px; 
        padding-top: 14px;

        li {
          display: inline; 
          padding: 11px 17px 11px 17px;

          a {
            color: #969595;
            text-decoration: none;
          }

          &:hover {
            cursor: pointer;
          }

        }
        .actives {
          border: solid #cfcfcf 2px; 
          padding: 10px 15px 10px 15px;
        }
        .active {
          border: solid #cfcfcf 2px; 
          padding: 10px 15px 10px 15px;
        }
      }
  	}
  }
}

#banner {
  min-width: 1200px;
  height: 700px;
  background: url('../images/soccer.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  #banner-main-header {
    opacity: 0; 
    position: relative;
    top: -20px;
    width: 570px;
    padding: 10px 0 10px 10px;
    text-align: left;
    margin-top: 100px;
    background: rgba(rgb(49, 59, 61), 0.8);

    h1 {
      color: white;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
    }
  }

  p {
    opacity: 0; 
    position: relative;
    top: -20px;
    margin-top: -10px;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #636363;
  }

  .button-container {
    margin-top: 20px;

    a.btn-success {
      opacity: 0; 
      position: relative;
      right: 20px;
    }

    a.btn-primary {
      opacity: 0; 
      position: relative;
      left: 20px;
    }
  }

  .banner_content {
    margin-top: 80px; 
    z-index: 1000; 
    width: 600px;

    h1 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 60px;
      opacity: 0;
      color: black;
    }

    h2 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 27px;
      opacity: 0;
      color: black;
    }

    #line {
      background: red;
      position: relative;
      top: 600px;
      border-bottom: solid black 1px; 
      height: 1px;
      opacity: 0;
    }

    p {
      position: absolute;
      bottom: 0;
      color: white;
      opacity: 0;
    }
  }
}

#winter-registraion-bar {
  background: rgb(0,0,0);
  padding: 3px 0 20px 0;

  h1 {
    color: white;
  }

  p {
    color: white;
    font-weight: bold;
  }
}

#home_content_container {
  background: #E9E9E9;
  min-width: 1200px;

  h3 {
    font-size: 1.17em;
  }

  .popular_classes_container {
    background: black;
    height: 400px;
    width: 140px;
    padding: 10px;
    color: white;

    .arrow_box {
      width: 50px;
      height: 40px;
      border: solid #484848 2px;
      text-align: center;

      i {
        font-size: 37px;
        color: #484848;
        font-weight: bold;
      }
    }

    .grey_line {
      border-bottom: solid #555555 2px;
      height: 1px;
      width: 90px;
    }

    p {
      color: #555555;
      font-size: 14px;
    }
  }

  .popular_classes {
    width: 1000px;
    position: relative;
    right: 37px;

    .info_box_container {
      background: white;
      width: 320px;
      margin-right: 20px !important;
      height: 400px;

      img {
        height: 200px;
        width: inherit;
      }

      .image_container {
        height: 200px;
        position: relative; 

        .image_content_container {
          background: black;
          color: white;
          text-align: center;
          width: 100px;
          padding: 12px;
          position: absolute;
          bottom: 0;
          margin-left: 100px;

        }
      }

      .content_container {
        text-align: center;
        padding: 20px;

        a {
          color: white;
        }

        h3 {
          font-weight: bold;
        }

        p {
          color: #7A7A7A;
          font: normal 12px/20px Montserrat, Arial, Tahoma, sans-serif;
          -webkit-text-stroke: 0.001px transparent;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
}

.facility_container {

  #carousel-example-generic {
    width:1010px;
    position: relative;
    right: 40px;
  }

  .facility_green_box {
    background: #87BD65;
    height: 220px;
    width: 140px;
    padding: 10px;

    .carousel-control {
      border: solid #000000 2px;
      text-align: center;
      background-image: none !important;
      width: 50px;
      height: 40px;
      padding: 20px;
      top: 160px !important;
      margin-left: 25px;
      color: black !important;
      font-weight: 100;
      font-size: 40px;
      text-shadow: none !important;
    }

    i {
      position: relative;
      top: -30px;
    }

    .carousel-control.right {
      position: absolute;
      left:60px;
    }

    .carousel-control.left {
      position: absolute;

      i {
        position: absolute;
        left: 13px;
        top: -1px;
      }
    }

    .arrow_box {
      margin-top: 20px;
      width: 50px;
      height: 40px;
      border: solid #484848 2px;
      text-align: center;

      i {
        font-size: 37px;
        color: #484848;
        font-weight: bold;
      }
    }

    p {
      font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
      -webkit-text-stroke: 0.001px transparent;
      -webkit-font-smoothing: antialiased;
    }

    .black_line {
      border-bottom: solid black 2px;
      width: 80px;
      height: 1px;
    }
  }

  .info_box_container {
    width: 330px;
    height: 220px;

    img {
      width: 323px; 
      height: 220px;
    }
  }

  .content_container {
    background: white;
    height: 220px;
    padding: 10px;
    padding-left: 20px;
    width: 693px;
    position: relative;
    right: -30px;

    a {
      color: #7A7A7A;
    }

    p {
      width: 620px;
      color: #7A7A7A;
      font: normal 12px/20px Montserrat, Arial, Tahoma, sans-serif;
      -webkit-text-stroke: 0.001px transparent;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.testimonials_container {
  background: white;
  height: 200px;
  text-align: center;
  padding: 20px;
}

#footer {
  background: black;
  height: 500px;
  min-width: 1200px;

  .footer_boxes  {
    background: #87BD65;
    width: 399px;
    height: 120px;
    position: relative;
    text-align: center;
    border-right: solid black 1px;

    h3 {
      color: white;
      margin: 0;
      margin-bottom: 5px;
      font-size: 18px;
    }

    p {
      font-weight: bold;
      margin: 0;
      font-size: 12px;
    }

    .footer_icon_circle {
      z-index: 0;
      background: #87BD65;
      border-radius: 60px;
      width: 60px;
      height: 60px;
      position: absolute;
      top: -30px;
      margin-left: 170px;

      i {
        color: white;
        font-size: 30px;
        margin-top: 10px;
      }
    }
  }
  .footer_box {
    width: 400px;
    margin-top: 40px;

    i {
      color: #87BD65;
      margin-right: 3px;
    }

    p {
      color: #515351;
      font-size: 16px;
    }

    h3 {
      color: white;
      font-size: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 12px;
        padding: 0;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 20px;
        border-bottom: solid #515351 1px;
        color: #515351;
        width: 330px;
      }
    }
  }
}

.about_top_header_image_container {
  background: url('../images/feet_running.jpg');
  background-size: cover;
  moz-background-size: cover;
  webkit-background-size: cover;
  height: 170px;
  width: 100%;
  min-width: 1200px;
}

.about_content_container {
  background: #E9E9E9;
  min-width: 1200px;

  .about_content_wrapper {
    background: white;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    ul {

      li {

        -webkit-text-stroke: 0.001px transparent;
        -webkit-font-smoothing: antialiased;       
        color: #7A7A7A;
      }
    }

    .left_content {
      width: 700px;

      p {
        color: #7A7A7A;
        -webkit-text-stroke: 0.001px transparent;
        -webkit-font-smoothing: antialiased;
        font-size: 13px;
      }

      h4 {
        color: #4E4E4E !important;
        margin-bottom: 8px;
      }
    }

    .right_content {
      height: 200px;
      width: 350px;

      .header {
        background: #87BD65;
        height: 55px;
        padding-left: 20px;
        padding-top: 1px;

        h3 {
          position: relative;
          top: -5px;
          font-size: 16px;
        }
      }

      .content {
        padding-left: 20px;
        padding-top: 1px;
        background: black;
        height: 140px;
        color: white;
      }

      .content_images {
        background: black;
        height: 140px;
        color: white;        
        .image_box {
          width: 175px;
          height: 150px;
        }
      }

    }
  }
}

.required {
  color: red;
}

// Team Registration Form 
#team_registration_form {

  .replacement-form-header {
    margin-left: 30px;
    position: relative;
    top: 15px;
    p {
      font-weight: bold;
      color: #4A4A4A;
    }
  }

  h1 {
    color: #787878;
  }

  form {

    .col-xs-6 {
      margin-bottom: 30px;
    }

    label {
      font-size: 17px;
      color: #78787C;
      display: inline;
    }

  }
}


    ol {
      margin: 0;
      margin-left: 20px;
      font-weight: bold;
      padding: 0;
      margin-top: 20px;

      li {
        padding-bottom: 35px;
      }
    }



.rules_page {
  ol {
    li {
      font-weight: 400;

      ul {
        li {
          list-style: none;

          ul {

            li {
              list-style: circle;
            }
          }
        }
      }
    }
  }

  .styled-list {
    list-style: circle;
    margin-top: -25px;
  }

  #rules_nav {
    background: #000;
    width: 350px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;

    ol {

      li {
        margin-top: -30px;
      }
    }

    a {
      color: white;
    }
  }
}

.success{
  background: #CFFFF5;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #B9ECCE;
  border-radius: 5px;
  font-weight: normal;
}
.error{
  background: #FFDFDF;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #FFCACA;
  border-radius: 5px;
  font-weight: normal;
}

#uparrow {
  border-radius: 90px;
  width: 75px;
  height: 75px;
  background: #91CE6B;
  position: fixed;
  top: 700px;
  right: 25px;
  z-index: 1000;
  display: none;
  text-align: center;
  font-size: 30px;
  color: white;

  i {
    margin-top:10px;
  }

  p {
    font-size: 10px;
    position: relative;
    top: -6px;
  }
}

.rule_anchor {
  position: relative;
  top: -50px;
}

#form-container-last {
  display: none;
}





























