body {
  margin: 0;
  font-family: Montserrat, Arial, Tahoma, sans-serif;
  display: none;

  p {
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.float_left {
  float: left;
}

.float_right {
  float: right;  
}

.clear {
  clear: both;
}

#top_header {
  min-width: 1200px;
  background: black;
  height: 43px;
  color: #7D7D7D;
  font-size: 13px;

  .light_grey {
  	color: #BEBEBE;
  }
  
  .opening_hours {
    width: 400px;
    font-size: 11px;
  }

  .social_media.float_right {
    color: white; 
    font-size: 22px; 
    color: #818181; 
    padding-top: 0px;

    ul {
      list-style: none;
      margin: 0;
      margin-top: 8px;
      padding: 0;

      li {
        display: inline; 
        padding-right: 20px;
        padding-left: 20px;
        border-right: solid #292929 1px;
      }
    }
  }
}

#main_nav {
  padding: 20px 0 20px 0;
  min-width: 1200px;

  .container {

  	.logo {
  		width: 270px;
  		font-weight: bold;

      h2 {

        a {
          color: #000000;
        }
      }
  	}

  	.nav_container {
      width: 820px;

      ul {
        list-style: none; 
        color: #969595; 
        font-size: 14px; 
        padding-top: 14px;

        li {
          display: inline; 
          margin-right: 4px; 
          padding: 11px 17px 11px 17px;

          a {
            color: #969595;
            text-decoration: none;
          }

          &:hover {
            cursor: pointer;
          }

        }
        .actives {
          border: solid #87BD65 2px; 
          padding: 10px 15px 10px 15px;
        }
        .active {
          border: solid #87BD65 2px; 
          padding: 10px 15px 10px 15px;
        }
      }
  	}
  }
}

#banner {
  min-width: 1200px;
  height: 550px;
  background: url('../images/soccer.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  position: relative;

  .banner_content {
    margin-top: 80px; 
    z-index: 1000; 
    width: 600px;

    h1 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 60px;
      opacity: 0;
    }

    h2 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 27px;
      opacity: 0;
    }

    #line {
      background: red;
      position: relative;
      top: 600px;
      border-bottom: solid black 1px; 
      height: 1px;
      opacity: 0;
    }

    p {
      position: absolute;
      bottom: 0;
      color: white;
      opacity: 0;
    }
  }
}

#home_content_container {
  background: #E9E9E9;
  min-width: 1200px;

  .popular_classes_container {
    background: black;
    height: 400px;
    width: 140px;
    padding: 10px;
    color: white;

    .arrow_box {
      width: 50px;
      height: 40px;
      border: solid #484848 2px;
      text-align: center;

      i {
        font-size: 37px;
        color: #484848;
        font-weight: bold;
      }
    }

    .grey_line {
      border-bottom: solid #555555 2px;
      height: 1px;
      width: 90px;
    }

    p {
      color: #555555;
      font-size: 14px;
    }
  }

  .popular_classes {
    width: 1030px;

    .info_box_container {
      background: white;
      width: 335px;
      height: 420px;

      .image_container {
        height: 200px;
        position: relative; 

        .image_content_container {
          background: black;
          color: white;
          text-align: center;
          width: 100px;
          padding: 12px;
          position: absolute;
          bottom: 0;
          margin-left: 100px;

        }
      }

      .content_container {
        text-align: center;
        padding: 20px;

        h3 {
          font-weight: bold;
        }

        p {
          color: #7A7A7A;
          font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
          -webkit-text-stroke: 0.001px transparent;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
}

.facility_container {

  .facility_green_box {
    background: #87BD65;
    height: 200px;
    width: 140px;
    padding: 10px;

    .arrow_box {
      margin-top: 20px;
      width: 50px;
      height: 40px;
      border: solid #484848 2px;
      text-align: center;

      i {
        font-size: 37px;
        color: #484848;
        font-weight: bold;
      }
    }

    p {
      font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
      -webkit-text-stroke: 0.001px transparent;
      -webkit-font-smoothing: antialiased;
    }

    .black_line {
      border-bottom: solid black 2px;
      width: 80px;
      height: 1px;
    }
  }

  .info_box_container {
    background: white;
    width: 330px;
    height: 220px;
  }

  .content_container {
    background: white;
    height: 200px;
    padding: 10px;
    padding-left: 20px;
    width: 652px;

    a {
      color: #7A7A7A;
    }

    p {
      color: #7A7A7A;
      font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
      -webkit-text-stroke: 0.001px transparent;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.testimonials_container {
  background: white;
  height: 200px;
  text-align: center;
  padding: 20px;
}

#footer {
  background: black;
  height: 500px;
  min-width: 1200px;

  .footer_boxes  {
    background: #87BD65;
    width: 399px;
    height: 120px;
    position: relative;
    text-align: center;
    border-right: solid black 1px;

    h3 {
      color: white;
      margin: 0;
      margin-bottom: 5px;
    }

    p {
      font-weight: bold;
      margin: 0;
    }

    .footer_icon_circle {
      z-index: 0;
      background: #87BD65;
      border-radius: 60px;
      width: 60px;
      height: 60px;
      position: absolute;
      top: -30px;
      margin-left: 170px;

      i {
        color: white;
        font-size: 30px;
        margin-top: 10px;
      }
    }
  }
  .footer_box {
    width: 400px;
    margin-top: 40px;

    i {
      color: #87BD65;
      margin-right: 3px;
    }

    p {
      color: #515351;
      font-size: 13px;
    }

    h3 {
      color: white;
      font-size: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 12px;
        padding: 0;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 20px;
        border-bottom: solid #515351 1px;
        color: #515351;
        width: 330px;
      }
    }
  }
}

.about_top_header_image_container {
  background: url('../images/feet_running.jpg');
  background-size: cover;
  moz-background-size: cover;
  webkit-background-size: cover;
  height: 170px;
  width: 100%;
  min-width: 1200px;
}

.about_content_container {
  background: #E9E9E9;
  min-width: 1200px;

  .about_content_wrapper {
    background: white;
    height: 1100px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    ul {

      li {

        -webkit-text-stroke: 0.001px transparent;
        -webkit-font-smoothing: antialiased;       
        color: #7A7A7A;
      }
    }

    .left_content {
      width: 700px;

      p {
        color: #7A7A7A;
        -webkit-text-stroke: 0.001px transparent;
        -webkit-font-smoothing: antialiased;
        font-size: 15px;
      }
    }

    .right_content {
      height: 200px;
      width: 350px;

      .header {
        background: #87BD65;
        height: 55px;
        padding-left: 20px;
        padding-top: 1px;
      }

      .content {
        padding-left: 20px;
        padding-top: 1px;
        background: black;
        height: 140px;
        color: white;
      }

      .content_images {
        background: black;
        height: 140px;
        color: white;        
        .image_box {
          width: 175px;
          height: 150px;
        }
      }

    }
  }
}






































