#footer
  .container
    .row
      .col-xs-4
        .footer_boxes.float_left 
          %br
          %br
          %h3 QUICK CONTACT
          %p CALL US AT (123) 123-1234
          .footer_icon_circle
            %i.fa.fa-phone
      .col-xs-4
        .footer_boxes.float_left{style: 'background: #91CE6B; margin-left: -4px;'}
          %br
          %br
          %h3 MONDAY - FRIDAY         
          %p 7pm - 10pm
          .footer_icon_circle{style: 'background: #91CE6B'}
            %i.fa.fa-calendar
      .col-xs-4
        .footer_boxes.float_right
          %br
          %br
          %h3 DISCOUNT
          %p 50% Off for 1 Year
          .footer_icon_circle
            %i.fa.fa-thumbs-o-up
    .row
      .col-xs-4
        .footer_box.float_left
          %h3 CONTACT INFORMATION
          %p{style: 'color: #949494;'} Urban Futsal L.A.
          / %i.fa.fa-home.float_left
          %p{style: 'font-size: 12px;'} 310 North Madison Avenue <br /> Los Angeles, California 90004
          / %i.fa.fa-phone.float_left
          %p{style: 'font-size: 12px;'} (213) 533-9828
          / %i.fa.fa-envelope-o.float_left
          %p{style: 'font-size: 12px;'} info@soccerclub.com
      .col-xs-4
        .footer_box.float_left
          %h3 OPENING HOURS
          %br
          %ul
            %li{style: 'font-size: 12px;'}
              %i.fa.fa-clock-o
              MONDAY - FRIDAY &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  7pm - 10pm
            %li{style: 'font-size: 12px;'}
              %i.fa.fa-clock-o
              WEEKENDS &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  COMING SOON
        
      .col-xs-4
        .footer_box.float_left
          %h3 FIND US HERE
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3118.7384738875526!2d-121.3748546!3d38.5858699!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809adb9ec24b780f%3A0xc43758882a731c3a!2sLos+Molinos+Way!5e0!3m2!1sen!2sus!4v1404939826166" width="365" height="257" frameborder="0" style="border:0"></iframe>