#footer
  .container
    .row
      .col-xs-4
        .footer_boxes.float_left 
          %br
          %br
          %h3 Quick Contact
          %p CALL US AT (213) 533-9828
          .footer_icon_circle
            %i.fa.fa-phone
      .col-xs-4
        .footer_boxes.float_left{style: 'background: #91CE6B; margin-left: -4px;'}
          %br
          %br
          %h3 Monday - Wednesday
          %p 7pm - 10pm <br > Weekends Coming Soon
          .footer_icon_circle{style: 'background: #91CE6B'}
            %i.fa.fa-calendar
      .col-xs-4
        .footer_boxes.float_right
          %br
          %br
          %h3 Where We Play
          %p 310 North Madison Avenue <br /> Los Angeles, California 90004
          .footer_icon_circle
            %i.fa.fa-building
    .row
      .col-xs-4
        .footer_box.float_left
          %h3 CONTACT INFORMATION
          %p{style: 'color: #949494;'} Urban Futsal L.A.
          / %i.fa.fa-home.float_left
          %p{style: 'font-size: 12px;'} 310 North Madison Avenue <br /> Los Angeles, California 90004
          / %i.fa.fa-phone.float_left
          %p{style: 'font-size: 12px;'} (213) 533-9828
          / %i.fa.fa-envelope-o.float_left
          %p{style: 'font-size: 12px;'} info@urbanfutsal.la
      .col-xs-4
        .footer_box.float_left
          %h3 OPENING HOURS
          %br
          %ul
            %li{style: 'font-size: 12px;'}
              %i.fa.fa-clock-o
              MONDAY - WEDNESDAY &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 7pm - 10pm
            %li{style: 'font-size: 12px;'}
              %i.fa.fa-clock-o
              WEEKENDS &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp COMING SOON
        
      .col-xs-4
        .footer_box.float_left
          %h3 FIND US HERE
          %iframe{frameborder: "0", height: "257", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3304.713476363647!2d-118.2885889!3d34.0768585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c767f0826ed5%3A0x2f46d3ab93c5c82c!2s310+N+Madison+Ave%2C+Los+Angeles%2C+CA+90004!5e0!3m2!1sen!2sus!4v1406245804351", style: "border:0", width: "365"}