/* line 1, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
body {
  margin: 0;
  font-family: Montserrat, Arial, Tahoma, sans-serif;
  display: none; }
  /* line 6, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  body p {
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased; }

/* line 12, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.container {
  width: 1200px;
  margin: 0 auto; }

/* line 17, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.float_left {
  float: left; }

/* line 21, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.float_right {
  float: right; }

/* line 25, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.clear {
  clear: both; }

/* line 29, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#top_header {
  background: black;
  height: 43px;
  color: #7D7D7D;
  font-size: 13px; }
  /* line 35, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #top_header .light_grey {
    color: #BEBEBE; }
  /* line 39, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #top_header .opening_hours {
    width: 400px;
    font-size: 11px; }
  /* line 44, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #top_header .social_media.float_right {
    color: white;
    font-size: 22px;
    color: #818181;
    padding-top: 0px; }
    /* line 50, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #top_header .social_media.float_right ul {
      list-style: none;
      margin: 0;
      margin-top: 8px;
      padding: 0; }
      /* line 56, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #top_header .social_media.float_right ul li {
        display: inline;
        padding-right: 20px;
        padding-left: 20px;
        border-right: solid #292929 1px; }

/* line 66, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#main_nav {
  padding: 20px 0 20px 0; }
  /* line 71, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #main_nav .container .logo {
    width: 270px;
    font-weight: bold; }
    /* line 77, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #main_nav .container .logo h2 a {
      color: #000000; }
  /* line 83, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #main_nav .container .nav_container {
    width: 820px; }
    /* line 86, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #main_nav .container .nav_container ul {
      list-style: none;
      color: #969595;
      font-size: 14px;
      padding-top: 14px; }
      /* line 92, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #main_nav .container .nav_container ul li {
        display: inline;
        margin-right: 4px;
        padding: 11px 17px 11px 17px; }
        /* line 97, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #main_nav .container .nav_container ul li a {
          color: #969595;
          text-decoration: none; }
        /* line 102, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #main_nav .container .nav_container ul li:hover {
          cursor: pointer; }
      /* line 107, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #main_nav .container .nav_container ul .actives {
        border: solid #87BD65 2px;
        padding: 10px 15px 10px 15px; }
      /* line 111, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #main_nav .container .nav_container ul .active {
        border: solid #87BD65 2px;
        padding: 10px 15px 10px 15px; }

/* line 120, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#banner {
  background: red;
  height: 550px;
  background: url("../images/soccer.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  position: relative; }
  /* line 131, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #banner .banner_content {
    margin-top: 80px;
    z-index: 1000;
    width: 600px; }
    /* line 136, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content h1 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 60px;
      opacity: 0; }
    /* line 144, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content h2 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 27px;
      opacity: 0; }
    /* line 152, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content #line {
      background: red;
      position: relative;
      top: 600px;
      border-bottom: solid black 1px;
      height: 1px;
      opacity: 0; }
    /* line 161, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content p {
      position: absolute;
      bottom: 0;
      color: white;
      opacity: 0; }

/* line 170, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#home_content_container {
  background: #E9E9E9; }
  /* line 173, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #home_content_container .popular_classes_container {
    background: black;
    height: 400px;
    width: 140px;
    padding: 10px;
    color: white; }
    /* line 180, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes_container .arrow_box {
      width: 50px;
      height: 40px;
      border: solid #484848 2px;
      text-align: center; }
      /* line 186, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #home_content_container .popular_classes_container .arrow_box i {
        font-size: 37px;
        color: #484848;
        font-weight: bold; }
    /* line 193, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes_container .grey_line {
      border-bottom: solid #555555 2px;
      height: 1px;
      width: 90px; }
    /* line 199, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes_container p {
      color: #555555;
      font-size: 14px; }
  /* line 205, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #home_content_container .popular_classes {
    width: 1030px; }
    /* line 208, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes .info_box_container {
      background: white;
      width: 335px;
      height: 420px; }
      /* line 213, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #home_content_container .popular_classes .info_box_container .image_container {
        height: 200px;
        position: relative; }
        /* line 217, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #home_content_container .popular_classes .info_box_container .image_container .image_content_container {
          background: black;
          color: white;
          text-align: center;
          width: 100px;
          padding: 12px;
          position: absolute;
          bottom: 0;
          margin-left: 100px; }
      /* line 230, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #home_content_container .popular_classes .info_box_container .content_container {
        text-align: center;
        padding: 20px; }
        /* line 234, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #home_content_container .popular_classes .info_box_container .content_container h3 {
          font-weight: bold; }
        /* line 238, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #home_content_container .popular_classes .info_box_container .content_container p {
          color: #7A7A7A;
          font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
          -webkit-text-stroke: 0.001px transparent;
          -webkit-font-smoothing: antialiased; }

/* line 251, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.facility_container .facility_green_box {
  background: #87BD65;
  height: 200px;
  width: 140px;
  padding: 10px; }
  /* line 257, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box .arrow_box {
    margin-top: 20px;
    width: 50px;
    height: 40px;
    border: solid #484848 2px;
    text-align: center; }
    /* line 264, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .facility_container .facility_green_box .arrow_box i {
      font-size: 37px;
      color: #484848;
      font-weight: bold; }
  /* line 271, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box p {
    font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased; }
  /* line 277, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box .black_line {
    border-bottom: solid black 2px;
    width: 80px;
    height: 1px; }
/* line 284, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.facility_container .info_box_container {
  background: white;
  width: 330px;
  height: 220px; }
/* line 290, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.facility_container .content_container {
  background: white;
  height: 200px;
  padding: 10px;
  padding-left: 20px;
  width: 652px; }
  /* line 297, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .content_container a {
    color: #7A7A7A; }
  /* line 301, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .content_container p {
    color: #7A7A7A;
    font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased; }

/* line 310, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.testimonials_container {
  background: white;
  height: 200px;
  text-align: center;
  padding: 20px; }

/* line 317, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#footer {
  background: black;
  height: 500px; }
  /* line 321, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #footer .footer_boxes {
    background: #87BD65;
    width: 399px;
    height: 120px;
    position: relative;
    text-align: center;
    border-right: solid black 1px; }
    /* line 329, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_boxes h3 {
      color: white;
      margin: 0;
      margin-bottom: 5px; }
    /* line 335, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_boxes p {
      font-weight: bold;
      margin: 0; }
    /* line 340, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_boxes .footer_icon_circle {
      z-index: 0;
      background: #87BD65;
      border-radius: 60px;
      width: 60px;
      height: 60px;
      position: absolute;
      top: -30px;
      margin-left: 170px; }
      /* line 350, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #footer .footer_boxes .footer_icon_circle i {
        color: white;
        font-size: 30px;
        margin-top: 10px; }
  /* line 357, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #footer .footer_box {
    width: 400px;
    margin-top: 40px; }
    /* line 361, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box i {
      color: #87BD65;
      margin-right: 3px; }
    /* line 366, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box p {
      color: #515351;
      font-size: 13px; }
    /* line 371, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box h3 {
      color: white;
      font-size: 15px; }
    /* line 376, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box ul {
      list-style: none;
      padding: 0; }
      /* line 380, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #footer .footer_box ul li {
        font-size: 12px;
        padding: 0;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 20px;
        border-bottom: solid #515351 1px;
        color: #515351;
        width: 330px; }

/* line 394, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.about_top_header_image_container {
  background: url("../images/feet_running.jpg");
  background-size: cover;
  moz-background-size: cover;
  webkit-background-size: cover;
  height: 170px;
  width: 100%; }

/* line 403, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.about_content_container {
  background: #E9E9E9; }
  /* line 406, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .about_content_container .about_content_wrapper {
    background: white;
    height: 1100px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px; }
    /* line 415, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .about_content_container .about_content_wrapper ul li {
      -webkit-text-stroke: 0.001px transparent;
      -webkit-font-smoothing: antialiased;
      color: #7A7A7A; }
    /* line 423, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .about_content_container .about_content_wrapper .left_content {
      width: 700px; }
      /* line 426, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .left_content p {
        color: #7A7A7A;
        -webkit-text-stroke: 0.001px transparent;
        -webkit-font-smoothing: antialiased;
        font-size: 15px; }
    /* line 434, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .about_content_container .about_content_wrapper .right_content {
      height: 200px;
      width: 350px; }
      /* line 438, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .right_content .header {
        background: #87BD65;
        height: 55px;
        padding-left: 20px;
        padding-top: 1px; }
      /* line 445, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .right_content .content {
        padding-left: 20px;
        padding-top: 1px;
        background: black;
        height: 140px;
        color: white; }
      /* line 453, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .right_content .content_images {
        background: black;
        height: 140px;
        color: white; }
        /* line 457, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        .about_content_container .about_content_wrapper .right_content .content_images .image_box {
          width: 175px;
          height: 150px; }
