/* line 1, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
body {
  margin: 0;
  font-family: Montserrat, Arial, Tahoma, sans-serif;
  display: none; }
  /* line 6, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  body p {
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased; }

/* line 12, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.container {
  width: 1200px !important;
  margin: 0 auto; }

/* line 17, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.float_left {
  float: left; }

/* line 21, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.float_right {
  float: right; }

/* line 25, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.clear {
  clear: both; }

/* line 29, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#top_header {
  min-width: 1200px;
  background: black;
  height: 43px;
  color: #7D7D7D;
  font-size: 13px; }
  /* line 36, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #top_header .light_grey {
    color: #BEBEBE; }
  /* line 40, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #top_header .opening_hours {
    width: 400px;
    font-size: 11px; }
  /* line 45, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #top_header .social_media.float_right {
    color: white;
    font-size: 22px;
    color: #818181;
    padding-top: 0px; }
    /* line 51, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #top_header .social_media.float_right:hover {
      cursor: pointer; }
    /* line 55, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #top_header .social_media.float_right ul {
      list-style: none;
      margin: 0;
      margin-top: 8px;
      padding: 0; }
      /* line 61, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #top_header .social_media.float_right ul li {
        display: inline;
        padding-right: 20px;
        padding-left: 20px;
        border-right: solid #292929 1px; }

/* line 71, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#main_nav {
  padding: 20px 0 20px 0;
  min-width: 1200px; }
  /* line 77, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #main_nav .container .logo {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: bold; }
    /* line 81, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #main_nav .container .logo a {
      color: #000000;
      text-decoration: none; }
  /* line 87, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #main_nav .container .nav_container {
    margin-top: 15px; }
    /* line 90, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #main_nav .container .nav_container ul {
      list-style: none;
      color: #969595;
      font-size: 14px;
      padding-top: 14px; }
      /* line 96, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #main_nav .container .nav_container ul li {
        display: inline;
        margin-right: 4px;
        padding: 11px 17px 11px 17px; }
        /* line 101, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #main_nav .container .nav_container ul li a {
          color: #969595;
          text-decoration: none; }
        /* line 106, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #main_nav .container .nav_container ul li:hover {
          cursor: pointer; }
      /* line 111, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #main_nav .container .nav_container ul .actives {
        border: solid #87BD65 2px;
        padding: 10px 15px 10px 15px; }
      /* line 115, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #main_nav .container .nav_container ul .active {
        border: solid #87BD65 2px;
        padding: 10px 15px 10px 15px; }

/* line 124, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#banner {
  min-width: 1200px;
  height: 550px;
  background: url("../images/soccer.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  position: relative; }
  /* line 135, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #banner .banner_content {
    margin-top: 80px;
    z-index: 1000;
    width: 600px; }
    /* line 140, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content h1 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 60px;
      opacity: 0;
      color: black; }
    /* line 149, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content h2 {
      margin: 0;
      position: absolute;
      bottom: 0;
      font-size: 27px;
      opacity: 0;
      color: black; }
    /* line 158, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content #line {
      background: red;
      position: relative;
      top: 600px;
      border-bottom: solid black 1px;
      height: 1px;
      opacity: 0; }
    /* line 167, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #banner .banner_content p {
      position: absolute;
      bottom: 0;
      color: white;
      opacity: 0; }

/* line 176, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#home_content_container {
  background: #E9E9E9;
  min-width: 1200px; }
  /* line 180, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #home_content_container h3 {
    font-size: 1.17em; }
  /* line 184, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #home_content_container .popular_classes_container {
    background: black;
    height: 400px;
    width: 140px;
    padding: 10px;
    color: white; }
    /* line 191, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes_container .arrow_box {
      width: 50px;
      height: 40px;
      border: solid #484848 2px;
      text-align: center; }
      /* line 197, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #home_content_container .popular_classes_container .arrow_box i {
        font-size: 37px;
        color: #484848;
        font-weight: bold; }
    /* line 204, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes_container .grey_line {
      border-bottom: solid #555555 2px;
      height: 1px;
      width: 90px; }
    /* line 210, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes_container p {
      color: #555555;
      font-size: 14px; }
  /* line 216, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #home_content_container .popular_classes {
    width: 1000px;
    position: relative;
    right: 37px; }
    /* line 221, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #home_content_container .popular_classes .info_box_container {
      background: white;
      width: 320px;
      margin-right: 20px !important;
      height: 400px; }
      /* line 227, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #home_content_container .popular_classes .info_box_container img {
        height: 200px;
        width: inherit; }
      /* line 232, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #home_content_container .popular_classes .info_box_container .image_container {
        height: 200px;
        position: relative; }
        /* line 236, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #home_content_container .popular_classes .info_box_container .image_container .image_content_container {
          background: black;
          color: white;
          text-align: center;
          width: 100px;
          padding: 12px;
          position: absolute;
          bottom: 0;
          margin-left: 100px; }
      /* line 249, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #home_content_container .popular_classes .info_box_container .content_container {
        text-align: center;
        padding: 20px; }
        /* line 253, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #home_content_container .popular_classes .info_box_container .content_container h3 {
          font-weight: bold; }
        /* line 257, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        #home_content_container .popular_classes .info_box_container .content_container p {
          color: #7A7A7A;
          font: normal 12px/20px Montserrat, Arial, Tahoma, sans-serif;
          -webkit-text-stroke: 0.001px transparent;
          -webkit-font-smoothing: antialiased; }

/* line 270, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.facility_container #carousel-example-generic {
  width: 1010px;
  position: relative;
  right: 40px; }
/* line 276, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.facility_container .facility_green_box {
  background: #87BD65;
  height: 220px;
  width: 140px;
  padding: 10px; }
  /* line 282, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box .carousel-control {
    border: solid #000000 2px;
    text-align: center;
    background-image: none !important;
    width: 50px;
    height: 40px;
    padding: 20px;
    top: 160px !important;
    margin-left: 25px;
    color: black !important;
    font-weight: 100;
    font-size: 40px;
    text-shadow: none !important; }
  /* line 297, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box i {
    position: relative;
    top: -30px; }
  /* line 302, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box .carousel-control.right {
    position: absolute;
    left: 60px; }
  /* line 307, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box .carousel-control.left {
    position: absolute; }
    /* line 310, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .facility_container .facility_green_box .carousel-control.left i {
      position: absolute;
      left: 13px;
      top: -1px; }
  /* line 317, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box .arrow_box {
    margin-top: 20px;
    width: 50px;
    height: 40px;
    border: solid #484848 2px;
    text-align: center; }
    /* line 324, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .facility_container .facility_green_box .arrow_box i {
      font-size: 37px;
      color: #484848;
      font-weight: bold; }
  /* line 331, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box p {
    font: normal 14px/20px Montserrat, Arial, Tahoma, sans-serif;
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased; }
  /* line 337, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .facility_green_box .black_line {
    border-bottom: solid black 2px;
    width: 80px;
    height: 1px; }
/* line 344, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.facility_container .info_box_container {
  width: 330px;
  height: 220px; }
  /* line 348, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .info_box_container img {
    width: 323px;
    height: 220px; }
/* line 354, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.facility_container .content_container {
  background: white;
  height: 220px;
  padding: 10px;
  padding-left: 20px;
  width: 693px;
  position: relative;
  right: -30px; }
  /* line 363, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .content_container a {
    color: #7A7A7A; }
  /* line 367, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .facility_container .content_container p {
    width: 620px;
    color: #7A7A7A;
    font: normal 12px/20px Montserrat, Arial, Tahoma, sans-serif;
    -webkit-text-stroke: 0.001px transparent;
    -webkit-font-smoothing: antialiased; }

/* line 377, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.testimonials_container {
  background: white;
  height: 200px;
  text-align: center;
  padding: 20px; }

/* line 384, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#footer {
  background: black;
  height: 500px;
  min-width: 1200px; }
  /* line 389, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #footer .footer_boxes {
    background: #87BD65;
    width: 399px;
    height: 120px;
    position: relative;
    text-align: center;
    border-right: solid black 1px; }
    /* line 397, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_boxes h3 {
      color: white;
      margin: 0;
      margin-bottom: 5px;
      font-size: 18px; }
    /* line 404, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_boxes p {
      font-weight: bold;
      margin: 0;
      font-size: 12px; }
    /* line 410, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_boxes .footer_icon_circle {
      z-index: 0;
      background: #87BD65;
      border-radius: 60px;
      width: 60px;
      height: 60px;
      position: absolute;
      top: -30px;
      margin-left: 170px; }
      /* line 420, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #footer .footer_boxes .footer_icon_circle i {
        color: white;
        font-size: 30px;
        margin-top: 10px; }
  /* line 427, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #footer .footer_box {
    width: 400px;
    margin-top: 40px; }
    /* line 431, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box i {
      color: #87BD65;
      margin-right: 3px; }
    /* line 436, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box p {
      color: #515351;
      font-size: 16px; }
    /* line 441, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box h3 {
      color: white;
      font-size: 15px; }
    /* line 446, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    #footer .footer_box ul {
      list-style: none;
      padding: 0; }
      /* line 450, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      #footer .footer_box ul li {
        font-size: 12px;
        padding: 0;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 20px;
        border-bottom: solid #515351 1px;
        color: #515351;
        width: 330px; }

/* line 464, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.about_top_header_image_container {
  background: url("../images/feet_running.jpg");
  background-size: cover;
  moz-background-size: cover;
  webkit-background-size: cover;
  height: 170px;
  width: 100%;
  min-width: 1200px; }

/* line 474, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.about_content_container {
  background: #E9E9E9;
  min-width: 1200px; }
  /* line 478, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  .about_content_container .about_content_wrapper {
    background: white;
    height: 1100px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px; }
    /* line 487, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .about_content_container .about_content_wrapper ul li {
      -webkit-text-stroke: 0.001px transparent;
      -webkit-font-smoothing: antialiased;
      color: #7A7A7A; }
    /* line 495, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .about_content_container .about_content_wrapper .left_content {
      width: 700px; }
      /* line 498, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .left_content p {
        color: #7A7A7A;
        -webkit-text-stroke: 0.001px transparent;
        -webkit-font-smoothing: antialiased;
        font-size: 15px; }
    /* line 506, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
    .about_content_container .about_content_wrapper .right_content {
      height: 200px;
      width: 350px; }
      /* line 510, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .right_content .header {
        background: #87BD65;
        height: 55px;
        padding-left: 20px;
        padding-top: 1px; }
      /* line 517, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .right_content .content {
        padding-left: 20px;
        padding-top: 1px;
        background: black;
        height: 140px;
        color: white; }
      /* line 525, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
      .about_content_container .about_content_wrapper .right_content .content_images {
        background: black;
        height: 140px;
        color: white; }
        /* line 529, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
        .about_content_container .about_content_wrapper .right_content .content_images .image_box {
          width: 175px;
          height: 150px; }

/* line 539, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
.required {
  color: red; }

/* line 546, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#team_registration_form .replacement-form-header {
  margin-left: 30px;
  position: relative;
  top: 15px; }
  /* line 550, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  #team_registration_form .replacement-form-header p {
    font-weight: bold;
    color: #4A4A4A; }
/* line 556, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#team_registration_form h1 {
  color: #787878; }
/* line 562, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#team_registration_form form .col-xs-6 {
  margin-bottom: 30px; }
/* line 566, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
#team_registration_form form label {
  font-size: 17px;
  color: #78787C;
  display: inline; }

/* line 576, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
ol {
  margin: 0;
  margin-left: 20px;
  font-weight: bold;
  padding: 0;
  margin-top: 20px; }
  /* line 583, /Users/Ricky/Sites/johns_site/source/stylesheets/all.scss */
  ol li {
    padding-bottom: 35px; }
