.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content.float_left
        %h3 WHO WE ARE
        %p We are an indoor futsal facility located near Silverlake / Downtown LA.  We strive to promote sports activities at a variety of recreational and competitive levels for the surrounding area.  Our goal is to foster a sense of community through sports and fun activities.

      .right_content.float_right
        .header
          %h3 STADIUM INFORMATION
        .content
          / %i.fa.fa-home.float_left
          / .address_container{style: 'border: solid purple 1px; width: 200px; float: left'}
          /   %p 1020 Any St <br /> San Francisco CA 94107
          / %i.fa.fa-phone.float_left
          / .address_container{style: 'border: solid purple 1px; width: 200px; float: left'}
          /   %p (123) 123-1234
          / %i.fa.fa-envelope-o.float_left
          / %p info@soccerclub.com
        %br
        .header
          %h3 SOCCER
        .content_images
          .image_box.float_left
            = image_tag 'images/soccer1.png'
          .image_box.float_left
            = image_tag 'images/soccer2.png'
          .image_box.float_left
            = image_tag 'images/soccer3.png'
          .image_box.float_left
            = image_tag 'images/soccer4.png'
          .clear
        .clear
        %br
        .content{style: 'height: 400px;'}
          %h3 AMMENITIES
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
        %br
      .clear