.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content.float_left
        %h3 WHO WE ARE
        %p We are an independent gym that is committed to working with you to gain the results you want. Whether your aim is to loose weight, tone up, build bulk or gain weight we can put together a gym programme or recommend the right classes for you to attend in our studios.

        %p Our members benefit from a free gym programme and review every month, free studio classes and price reductions on our personal training sessions. As a member you can also access our pool and tennis courts for free and have priority for booking any of the pre-book activities, classes or sessions that we run.

        %p If you don’t want to commit to being a member you can still use all of our facilities but you will need to have an induction session before using the facilities to ensure that Health and Safety requirements are met – you don’t want to injure yourself on your first visit and ruin all your good intentions!

      .right_content.float_right
        .header
          %h3 SOMETHING COOL
        .content
          %p Lorem ipsum dolor sitta upusm.
          %p Lorem ipsum dolor sitta upusm.
          %p Lorem ipsum dolor sitta upusm.
        %br
        .header
          %h3 SOCCER
        .content_images
          .image_box.float_left
            = image_tag 'images/soccer1.png'
          .image_box.float_left
            = image_tag 'images/soccer2.png'
          .image_box.float_left
            = image_tag 'images/soccer3.png'
          .image_box.float_left
            = image_tag 'images/soccer4.png'
          .clear
        .clear
        %br
        .content{style: 'height: 400px;'}
          %h3 AMMENITIES
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
          %i.fa.fa-chevron-right.float_left{style: 'margin-right: 10px; color: #87BD65; margin-top: 3px;'}
          %p Lorem ipsum dolor sitta upusm.
        %br
      .clear