.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    #schedule-container.about_content_wrapper{style: 'height: 1800px;'}
      .left_content.float_left
        .container
          %h2 Monday Coed 5v5
          %h3 November 10th
          %table.table 
            %thead
              %tr
                %th Team Name
                %th Score
            %tbody
              %tr
                %td K-Town Killers
                %td 15 <span class='winner'><img src="images/smooth-star.jpg"></span>
 
              %tr
                %td MadAve/MU 
                %td 8
          %table.table 
            %thead
              %tr
                %th Team Name
                %th Score
            %tbody
              %tr
                %td FC Lapa 
                %td 20 <span class='winner'><img src="images/smooth-star.jpg"></span>
 
              %tr
                %td Grandma's Boys 
                %td 7
          %h3 November 17th
          %table.table 
            %thead
              %tr
                %th Team Name
                %th Score
            %tbody
              %tr
                %td MadAve/MU  
                %td 7  
              %tr
                %td Grandma's Boys 
                %td 12 <span class='winner'><img src="images/smooth-star.jpg"></span>
 
          %table.table 
            %thead
              %tr
                %th Team Name
                %th Score
            %tbody
              %tr
                %td FC LAPA  
                %td 10 <span class='winner'><img src="images/smooth-star.jpg"></span>
 
              %tr
                %td K-Town Killers
                %td 8


          %table.table 
            %thead
              %tr
                %th Team Name
                %th Score
            %tbody
              %tr
                %td FC Lapa 
                %td 20 <span class='winner'><img src="images/smooth-star.jpg"></span>
 
              %tr
                %td Grandma's Boys 
                %td 7
