.about_top_header_image_container
.about_content_container
	.container
		%br
		%br
		%br
		.about_content_wrapper{style: 'height: 1900px;'}
			.left_content
				.container
					%h1 Monday Co-Ed 5v5
					%hr

					.date-container
						%h3 NOVEMBER 17th
					.row
						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td MadAve/MU vs Grandma's boys

								%tr
									%td 8:00 pm
									%td FC 174 vs K-Town Killers

					.date-container
						%h3 NOVEMBER 24th
					.row
						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td K-Town Killers vs Grandma's boys
								%tr
									%td 8:00 pm
									%td MadAve/MU vs FC 174 

					.date-container
						%h3 DECEMBER 1st
					.row
						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td MadAve/MU vs K-Town Killers

								%tr
									%td 8:00 pm
									%td FC 174 vs Grandma’s Boys 



					.date-container

						%h3 DECEMBER 8th

					.row

						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td Grandma’s Boys vs MadAve/MU
								%tr
									%td 8:00 pm
									%td K-Town Killers vs FC 174 



					.date-container
						%h3 DECEMBER 15th
					.row
						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td Grandma’s Boys vs K-Town Killers

								%tr
									%td 8:00 pm
									%td Fc 174 vs MadAve/MU 



					.date-container
						%h3 DECEMBER 22th
					.row
						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td K-Town Killers vs MadAve/MU
								%tr
									%td 8:00 pm
									%td Grandma’s Boys vs FC 174 



					.date-container
						%h3 DECEMBER 29th
					.row
						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td MadAve/MU vs Grandma’s Boys

								%tr
									%td 8:00 pm
									%td FC174 vs FC 174 



					.date-container
						%h3 JANUARAY 7th (Playoffs)
					.row
						%table.table{style: 'width: 700px; margin-left: 10px;'}
							%thead
								%tr
									%th Time
									%th Teams

							%tbody
								%tr
									%td 7:00 pm
									%td  1 Seed vs 4 Seed

								%tr
									%td 8:00 pm
									%td  2 Seed vs 3 Seed 

								%tr
									%td 9:00 pm
									%td Finals 