.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content
        .container
          %h1 Monday Co-Ed 5v5
          %hr
          .date-container
            %h3 NOVEMBER 11th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td K-Town Killers vs MadAve/MU
                %tr
                  %td 8:00 pm
                  %td Grandma's Boys vs FC 174
                  
          .date-container
            %h3 NOVEMBER 17th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td MadAve/MU vs Grandma's boys
                %tr
                  %td 8:00 pm
                  %td FC 174 vs K-Town Killers
                   
          .date-container
            %h3 NOVEMBER 24th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td K-Town Killers vs Grandma's boys
                %tr
                  %td 8:00 pm
                  %td MadAve/MU vs FC 174 
 
            
