#map-container
  %iframe{frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3304.713476363647!2d-118.2885889!3d34.0768585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c767f0826ed5%3A0x2f46d3ab93c5c82c!2s310+N+Madison+Ave%2C+Los+Angeles%2C+CA+90004!5e0!3m2!1sen!2sus!4v1406245804351", style: "border:0", width: "100%"}
.container
  %br
  %br
  .row 
    .col-xs-7
      %h4 We’d Love to Hear From You, Lets Get In Touch!
      %hr
      %p Have a question about our facility, rules, or futsal?  Please feel free to contact us with the below form and one of our representatives will get back to you as soon as possible.  We look forward to hearing from you.
      %br
      %fieldset#contact_form.form-inline
        %legend Contact Form
        #result
        .form-group
          %label{for: "name"}
            %span Name
            %br
            %input#name{name: "name", placeholder: "Enter Your Name", type: "text", class: 'form-control', style: 'width: 280px; margin-right: 40px;'}
        .form-group
          %label{for: "email"}
            %span Email Address
            %br
            %input#email{name: "email", placeholder: "Enter Your Email", type: "email", class: 'form-control', style: 'width: 280px;'}
        %br
        %br
        %label{for: "phone"}
          %span Phone
          %br
          %input#phone{name: "phone", placeholder: "Phone Number", type: "text", class: 'form-control', style: 'width: 280px;'}
        %br
        %br
        .form-group
          %label{for: "message"}
            %span Message
            %br
            %textarea#message{name: "message", placeholder: "Enter Your Message Here", class: 'form-control', style: 'width: 650px; height: 200px;'}
        %br
        %br
        .form-group
          %label
            %span  
            %button#submit_btn.submit_btn.btn.btn-primary Submit
        %br
        %br
        %br
        %br
        %br
        %br
    .col-xs-4.pull-right
      %h4 Contact Info
      %br
      .contact-info-container
        .contact-header
        .content
          %i.fa.fa-home.float_left{style: 'margin-top: 10px; font-size: 20px;'}
          .address_container{style: 'margin-left:10px; margin-top: 8px; width: 200px; float: left'}
            %p 310 North Madison Avenue Los Angeles, California 90004
          .clear
        %hr
        .div-cell
          .glyphicon.glyphicon-phone{style: 'margin-right: 10px; font-size: 20px;'}
          (213) 533-9828
        %hr
        .div-cell
          .glyphicon.glyphicon-envelope{style: 'margin-right: 10px; font-size: 20px;'}
          info@urbanfutsal.la
      %hr
      Check Us Out On:
      %br
      %br
      .social-icons{style: 'font-size: 30px; color: #333333;'}
        %i.fa.fa-facebook{style:'margin-right: 10px;'}
        %i.fa.fa-twitter{style:'margin-right: 10px;'}
        %i.fa.fa-instagram{style:'margin-right: 10px;'}
        %i.fa.fa-youtube
    .clear