.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper{style: 'height: 800px;'}
      .left_content.float_left
        .container
          %h1 Free Agent Registration Form
          %p 
            This is a chance for those individuals who do not have 
            a team to play for.  Sign up by yourself or with a <br /> 
            whole team and have a real "kick" this season.
          %hr
          %fieldset#freeagent_form.form-inline
            %h3 Player Information
            %p 
              Choose 5v5 Men's 5v5 or Coed's 5v5 then provide us
              with your name an email address and <br />phone 
              number for us to contact you at and we will get 
              you drafted and let you know when <br />you can 
              play next.
            #result{style: 'width: 610px;'}
            %br
            %label Select Your Registration Type  <span class='required'>*</span> 
            %br
            %select#tournament.form-control{style: 'width: 52%; font-weight: bold; color: #777777;'}
              %option{style: 'color: red !important;'} <strong>Select</strong>
              %option October Free Play
              %option Winter Registration
            %br
            %br
            .form-group
              %label{for: "name"}
                %span Name <span class='required'>*</span> 
                %br
                %input#name{name: "name", placeholder: "Enter Your Name", type: "text", class: 'form-control', style: 'width: 280px; margin-right: 40px;'}
            .form-group
              %label{for: "email"}
                %span Email Address <span class='required'>*</span> 
                %br
                %input#email{name: "email", placeholder: "Enter Your Email", type: "email", class: 'form-control', style: 'width: 280px;'}
            %br
            %br
            %label{for: "phone"}
              %span Phone <span class='required'>*</span> 
              %br
              %input#phone{name: "phone", placeholder: "Phone Number", type: "text", class: 'form-control', style: 'width: 280px;'}
            %br
            %br
            %h5
              %strong Prefered Date: <span class='required'>*</span> 
            .row
              .col-xs-4
                %label{for: 'choice1'}
                %select#choice1{class: 'form-control', name: 'choice1', style: 'width: 275px;'}
                  %option{value: 'Choose'} Choose
                  %option{value: 'Monday Night / 5v5 men '} Monday Night / 5v5 Men 
                  %option{value: 'Tuesday Night / 5v5 Coed'} Tuesday Night / 5v5 Coed
                  %option{value: 'Wednesday'} Wednesday Night/ 5v5 Men

              / .col-xs-4
              /   %label{for: 'choice2'}
              /   %span 
              /     %strong Choice 2
              /   %br
              /   %select#choice2{class: 'form-control', name: 'choice2', style: 'width: 275px;'}
              /     %option{value: 'Choose'} Choose
              /     %option{value: 'Monday'} Monday
              /     %option{value: 'Tuesday'} Tuesday
              /     %option{value: 'Wednesday'} Wednesday
              /     %option{value: 'Thursday'} Thursday
              /     %option{value: 'Friday'} Friday





          .form-group
            %label{for: "message"}
              %br
              %textarea#message{name: "message", placeholder: "Enter Your Name", class: 'form-control', style: 'height: 0px; visibility: hidden'}
            .form-group
              %label
                %span  
                %button#free_agent_btn.submit_btn.btn.btn-info{style: 'position: relative; right: 7px; padding: 13px 70px 13px 70px;'} Submit 
          %p Questions?  Feel free to call us at (213) 533-9828 or send us an email at info@urbanfutsal.la
      .right_content.float_right{style: 'border-left: solid 1px #cfcfcf; margin-top: 150px; padding-left: 30px; height: 450px; margin-right: 40px;'}
        %h3{style: 'width: 400px; margin: 0;'} How our Free Agent Registration Works.
        %br
        %ul{style: 'padding: 0; padding-left: 14px;'}
          %li Fill out the Free Agent Registration Form and we will either put together a team, or you may be drafted by another team.
          %br
          %li Your profile will be posted to the designated sport you select for Team Managers to view.
          %br
          %li If you are drafted, the Team Manager will contact you and will let you know when you can play next. The Team Manager is responsible for notifying us, that he or she has drafted a free agent.
          %br
          %li If there are not enough free agents drafted, then we will attempt to form a team with the remaining agents.

      .clear
%a{href: '#', id: 'uparrow'}
  %i.glyphicon.glyphicon-arrow-up
  %p back to top