.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper{style: 'height: 800px;'}
      .left_content.float_left
        .container
          %h1 Free Agent Registration Form
          %p This is a chance for those individuals who do not have a team to play for.  Sign up by yourself or with a <br /> whole team and have a real "kick" this season.
          %hr
          %br
          %fieldset#freeagent_form.form-inline
            #result
            %select#tournament.form-control{style: 'width: 52%; font-weight: bold; color: #777777;'}
              %option{style: 'color: red !important;'} <strong>Select</strong>
              %option Men 5v5
              %option Coed 5v5
            %br
            %br
            .form-group
              %label{for: "name"}
                %span Name
                %br
                %input#name{name: "name", placeholder: "Enter Your Name", type: "text", class: 'form-control', style: 'width: 280px; margin-right: 40px;'}
            .form-group
              %label{for: "email"}
                %span Email Address
                %br
                %input#email{name: "email", placeholder: "Enter Your Email", type: "email", class: 'form-control', style: 'width: 280px;'}
            %br
            %br
            %label{for: "phone"}
              %span Phone
              %br
              %input#phone{name: "phone", placeholder: "Phone Number", type: "text", class: 'form-control', style: 'width: 280px;'}
            %br
            %br
            .form-group
              %label
                %span  
                %button#free_agent_btn.submit_btn.btn.btn-primary{style: 'position: relative; right: 7px;'} Submit   
      .right_content.float_right{style: 'border-left: solid 1px #cfcfcf; margin-top: 150px; padding-left: 30px; height: 450px; margin-right: 40px;'}
        %h3{style: 'width: 400px; margin: 0;'} How our Free Agent Registration Works.
        %br
        %ul{style: 'padding: 0; padding-left: 14px;'}
          %li Fill out the Free Agent Registration Form and we will either put together a team, or you may be drafted by another team.
          %br
          %li Your profile will be posted to the designated sport you select for Team Managers to view.
          %br
          %li If you are drafted, the Team Manager will contact you and will let you know when you can play next. The Team Manager is responsible for notifying us, that he or she has drafted a free agent.
          %br
          %li If there are not enough free agents drafted, then we will attempt to form a team with the remaining agents.

      .clear