#top_header
  .container 
    .opening_hours.float_left{style: 'padding-top: 3px;'}
      %p OPENING HOURS : MON - SAT <span class="light_grey">6AM - 9PM</span>, SUN 8AM - 6PM
#main_nav
  .container
    .logo.float_left
      %h2 SOCCER CLUB
    .nav_container.float_right
      %ul
        %li.active HOME
        %li ABOUT
        %li SCHEDULE 
        %li TRAINERS
        %li FACILITY 
        %li CONTACT
    .clear
#banner
  .container
    .banner_content.float_right
      %h2
        OPTIMIZE
      %h1
        YOUR HEALTH
      .line
      %p Because the cheetah in the woods are the franks of furthers for future sakes and funny feelings.  There are more than one cheetah in the larsons cook book that can be on your birthday.
#home_content_container
  %br
  %br
  .container
    .popular_classes_container.float_left
      %h3 
        POPULAR CLASSES
      .grey_line
      %p There are trees in the beach that foxes cannot be and the time.
    .popular_classes.float_right
      .info_box_container.float_left
        .image_container 
          = image_tag 'images/foot_on_ball.jpg', style: 'width: 330px; height: 200px;'
          .image_content_container
            6 PM - 8 PM
        .content_container
          %h3 BODY COMBAT
          %p Before we make a big system change there are visual things and instructional things.
      .info_box_container.float_left{style: 'margin-left: 15px;'}
        .image_container 
          = image_tag 'images/foot_on_ball.jpg', style: 'width: 330px; height: 200px;'
          .image_content_container
            6 PM - 8 PM
        .content_container
          %h3 BODY COMBAT
          %p Before we make a big system change there are visual things and instructional things.
      .info_box_container.float_right
        .image_container 
          = image_tag 'images/foot_on_ball.jpg', style: 'width: 330px; height: 200px;'
          .image_content_container
            6 PM - 8 PM
        .content_container
          %h3 BODY COMBAT
          %p Before we make a big system change there are visual things and instructional things.
    .clear
  %br
  .facility_container
    .container 
      .facility_green_box.float_left{style: 'margin-right: 20px;'}
        %h3
          FACILITY
        .black_line
        %p 
          In this bed I made and every night I close my eyes and all my troubles fade.
      .info_box_container.float_left
        = image_tag 'images/foot_on_ball.jpg', style: 'width: 330px; height: 220px;'
      .content_container.float_right
        %h3 Our Facility Comes Standard With The Most Stuff.
        %p They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.
      .clear
  %br
  .container
    .testimonials_container
      %h3 WHAT PEOPLE SAY
      %h3{style: 'color: #8A8A8A'} "Cinderlla Man music is my time machine lighting struck it and flipped the world upside down and made it rain upwards were in the future to the present."
      John Doe
  %br
  %br
  %br
  #footer
    .container
      .footer_boxes.float_left 
        %br
        %br
        %h3 QUICK CONTACT
        %p CALL US AT (123) 123-1234
        .footer_icon_circle
      .footer_boxes.float_left 
        %br
        %br
        %h3 QUICK CONTACT
        %p CALL US AT (123) 123-1234
        .footer_icon_circle
      .footer_boxes.float_right
        %br
        %br
        %h3 QUICK CONTACT
        %p CALL US AT (123) 123-1234
        .footer_icon_circle
      



