.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content
        .container
          %h1 Wednesday Men 5v5
          %hr
          .date-container
            %h3 NOVEMBER 12th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td Yeezus Navas vs Chelsea FC
                %tr
                  %td 8:00 pm
                  %td CU Lions vs Team I Am
                %tr
                  %td 9:00 pm
                  %td PATH vs MadAve/MU
          %hr
          .date-container
            %h3 NOVEMBER 19th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td Chelsea FC vs PATH
                %tr
                  %td 8:00 pm
                  %td MadAve/MU vs CU Lions
                %tr
                  %td 9:00 pm
                  %td Team I Am vs Yeezus Navas
          %hr
          .date-container
            %h3 DECEMBER 3rd
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td MadAve/MU vs Chelsea FC
                %tr
                  %td 8:00 pm
                  %td Team I Am vs PATH
                %tr
                  %td 9:00 pm
                  %td CU Lions vs Yeezus Navas

          %hr
          .date-container
            %h3 DECEMBER 10th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td Yeezus Navas vs MadAve/MU
                %tr
                  %td 8:00 pm
                  %td CU Lions vs PATH
                %tr
                  %td 9:00 pm
                  %td Team I Am vs Chelsea FC

          %hr
          .date-container
            %h3 DECEMBER 17th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td PATH vs Yeezus Navas
                %tr
                  %td 8:00 pm
                  %td Team I Am vs MadAve/Mu
                %tr
                  %td 9:00 pm
                  %td Chelsea FC vs CU Lions
          %hr
          .date-container
            %h3 JANUARY 7th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td MadAve/MU vs PATH
                %tr
                  %td 8:00 pm
                  %td Team I Am vs CU Lions
                %tr
                  %td 9:00 pm
                  %td Chelsea FC vs Yeezus Navas

          %hr
          .date-container
            %h3 JANUARY 14th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td PATH vs Chelsea FC
                %tr
                  %td 8:00 pm
                  %td CU Lions vs MadAve/MU
                %tr
                  %td 9:00 pm
                  %td Yeezus Navas vs Team I Am

          %hr
          .date-container
            %h3 JANUARY 21th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td  PATH vs Team I Am
                %tr
                  %td 8:00 pm
                  %td Chelsea FC vs MadAve/MU
                %tr
                  %td 9:00 pm
                  %td Yeezus Navas vs CU Lions

          %hr
          .date-container
            %h3 JANUARY 28th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td  Seed 1 vs Seed 4
                %tr
                  %td 8:00 pm
                  %td Seed 2 vs Seed 3
                %tr
                  %td 9:00 pm
                  %td  Finals
        
