.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content
        .container
          %h1 Wednesday Men 5v5
          %hr
          .date-container
            %h3 NOVEMBER 12th
          .row
            %table.table{style: 'width: 700px; margin-left: 10px;'}
              %thead
                %tr
                  %th Time
                  %th Teams

              %tbody
                %tr
                  %td 7:00 pm
                  %td Team 2 (TBA) vs Chelsea FC
                %tr
                  %td 8:00 pm
                  %td U Lions vs Team I Am
                %tr
                  %td 9:00 pm
                  %td PATH vs MadAve/Meetup


        
