.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper{style: 'height: 800px;'}
      .left_content
        .container
          %h1 Schedule
          %hr
          .col-xs-8{style: 'position: relative; right: 15px;'}
            %h3
              October Free Play
            %p 
              Free Play Throughout The Entire Month Of October.  Come out and check out our facility, meet awsome people, and of course play futsal!
            %br
            %table.table.table-striped
              %thead
                %tr
                  %th Day
                  %th Time
                  %th Tournament Type
              %tbody
                %tr
                  %td
                    Monday 
                  %td
                    7pm - 10pm
                  %td
                    5v5 men
                %tr
                  %td
                    Tuesday
                  %td
                    7pm - 10pm
                  %td
                    5v5 coed
                %tr
                  %td
                    Wednesday
                  %td
                    7pm - 10pm
                  %td
                    5v5 men
          %hr
          .col-xs-8{style: 'position: relative; right: 15px;'}
            %h3
              Winter League Starts November 3rd
            %p 
              Our Winter League Starts November 3rd and is an 8 week session.  Registration is now open!
            %br
            %table.table.table-striped
              %thead
                %tr
                  %th Day
                  %th Time
                  %th Tournament Type
              %tbody
                %tr
                  %td
                    Monday 
                  %td
                    7pm - 10pm
                  %td
                    5v5 men
                %tr
                  %td
                    Tuesday
                  %td
                    7pm - 10pm
                  %td
                    5v5 coed
                %tr
                  %td
                    Wednesday
                  %td
                    7pm - 10pm
                  %td
                    5v5 men

      .clear