.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper{style: 'height: 800px;'}
      .left_content.float_left
        .container
          %h1 Coming Soon....
      .clear