.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content.float_left
        .container
          %h1 TEAM REGISTRATION FORM: Men's 5v5
          %hr
          %h4 TEAM INFO
          %br
          %form#registration-form
            .row
              .team-registration{style: 'margin-left: 0px;'}
                .col-xs-4
                  .form-sets
                    .float-left
                      %label Team Name <span class='required'>*</span>
                .col-xs-6
                  .float-right
                    %input.form-control
                %br
                %br
                %br
                .col-xs-4
                  .form-sets
                    .float-left
                      %label Team Manager <span class='required'>*</span>
                .col-xs-6
                  .float-right
                    %input.form-control
                %br
                %br
                %br
                .col-xs-4
                  .form-sets
                    .float-left
                      %label Team Manager Email <span class='required'>*</span>
                .col-xs-6
                  .float-right
                    %input.form-control
                %br
                %br
                %br
                .col-xs-4
                  .form-sets
                    .float-left
                      %label Team Manager Phone<span class='required'>*</span>
                .col-xs-6
                  .float-right
                    %input.form-control
              %br
              %br
              %hr
              %h4 PLAYERS INFO
              %br
              .col-xs-4
                .form-sets
                  .float-left
                    %ol
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
              .col-xs-6
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control

          %hr
          .col-xs-12
            %button.btn.btn-primary{style: 'padding: 10px 70px 10px 70px; margin-left: -14px;'}
              SUBMIT
        %p{style: 'margin-top: 40px; margin-left: 20px;'} Privacy: Urban Futsal LA is completely respects our member's privacy and therefore is committed to keeping your information secure and confidential.