
#team_registration_form
  .container
    %h1 TEAM REGISTRATION FORM: Men's 5v5
    %hr
    %br
    %form
      .row
        .col-xs-6
          .form-sets
            .float-left
              %label Team Name <span class='required'>*</span>
        .col-xs-6
          .float-right
            %input.form-control
        %br
        .col-xs-6
          .form-sets
            .float-left
              %label Team Manager <span class='required'>*</span>
        .col-xs-6
          .float-right
            %input.form-control
        %br
        .col-xs-6
          .form-sets
            .float-left
              %label Team Manager Email <span class='required'>*</span>
        .col-xs-6
          .float-right
            %input.form-control
        %br
        .col-xs-6
          .form-sets
            .float-left
              %label Team Manager Phone<span class='required'>*</span>
        .col-xs-6
          .float-right
            %input.form-control
        %br
        .col-xs-6
          .form-sets
            .float-left
              %label Names of Players <span class='required'>*</span>
        .col-xs-6
          .float-right
            %input.form-control
        %br
        .col-xs-6
          %button.btn.btn-primary
            SUBMIT

















  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

