.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content.float_left
        .container
          %h1 TEAM REGISTRATION FORM
          %hr
          %fieldset#contact_form.form-inline
            %legend TEAM INFO
            #result
            .row
              .col-xs-12
                %select.form-control#tournament_type{style: 'width: 94%;', name: 'tournament_type'}
                  %option Select a Tournament
                  %option Men's 5v5
                  %option Coed 5v5
            %br
            %br
            .row
              .col-xs-6
                .form-group
                  %label{for: "team name"}
                    %span Team Name <span class='required'>*</span>
                    %br
                    %input#name{name: "team_name", placeholder: "Enter Your Name", type: "text", class: 'form-control', style: 'width: 500px;'}
              .col-xs-6
                .form-group
                  %label{for: "team manager"}
                    %span Team Manager <span class='required'>*</span>
                    %br
                    %input#name{name: "team_manager", placeholder: "Enter Your Name", type: "text", class: 'form-control', style: 'width: 500px;'}
            %br
            %br
            .row
              .col-xs-6
                .form-group
                  %label{for: "manager email"}
                    %span Team Manager Email <span class='required'>*</span>
                    %br
                    %input#name{name: "team_manager_email", placeholder: "Enter Your Name", type: "text", class: 'form-control', style: 'width: 500px;'}
              .col-xs-6
                .form-group
                  %label{for: "manager phone"}
                    %span Team Manager Phone <span class='required'>*</span>
                    %br
                    %input#name{name: "team_manager_phone", placeholder: "Enter Your Name", type: "text", class: 'form-control', style: 'width: 500px;'}
            %br
            %hr

            %br
            %br
            %hr
            %h4 PLAYERS INFO
            %br
            .col-xs-4
              .form-sets
                .float-left
                  %ol
                    %li
                      %label Player Name <span class='required'>*</span>
                    %li
                      %label Player Name <span class='required'>*</span>
                    %li
                      %label Player Name <span class='required'>*</span>
                    %li
                      %label Player Name <span class='required'>*</span>
                    %li
                      %label Player Name <span class='required'>*</span>
            .col-xs-6
              .float-right
                %input.form-control#player1{style: 'margin-bottom: 25px; width: 400px;', name: 'player1'}
              .float-right
                %input.form-control#player2{name: 'player2', style: 'margin-bottom: 25px; width: 400px;'}
              .float-right
                %input.form-control#player3{name: 'player3', style: 'margin-bottom: 25px; width: 400px;'}
              .float-right
                %input.form-control#player4{name: 'player4', style: 'margin-bottom: 25px; width: 400px;'}
              .float-right
                %input.form-control{name: 'player5', style: 'margin-bottom: 25px; width: 400px;'}
          .form-group
            %label
              %span  
              %button#submit_btn.submit_btn.btn.btn-primary#submit_btn_registration_form{style: 'padding: 10px 70px 10px 70px; margin-left: -14px;'} Submit

        %p{style: 'margin-top: 40px; margin-left: 20px;'} Privacy: Urban Futsal LA is completely respects our member's privacy and therefore is committed to keeping your information secure and confidential.
      .clear