.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content.float_left
        .container
          %h1 TEAM REGISTRATION FORM: Men's 5v5
          %hr
          %br
          %form#registration-form
            .row
              .col-xs-4
                .form-sets
                  .float-left
                    %label Team Name <span class='required'>*</span>
              .col-xs-6
                .float-right
                  %input.form-control
              %br
              %br
              %br
              .col-xs-4
                .form-sets
                  .float-left
                    %label Team Manager <span class='required'>*</span>
              .col-xs-6
                .float-right
                  %input.form-control
              %br
              %br
              %br
              .col-xs-4
                .form-sets
                  .float-left
                    %label Team Manager Email <span class='required'>*</span>
              .col-xs-6
                .float-right
                  %input.form-control
              %br
              %br
              %br
              .col-xs-4
                .form-sets
                  .float-left
                    %label Team Manager Phone<span class='required'>*</span>
              .col-xs-6
                .float-right
                  %input.form-control
              %br
              %br
              %br
              %h4 PLAYERS INFO
              %br
              .col-xs-4
                .form-sets
                  .float-left
                    %ol
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
                      %li
                        %label Player Name <span class='required'>*</span>
              .col-xs-6
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control{style: 'margin-bottom: 25px;'}
                .float-right
                  %input.form-control

          %hr
          .col-xs-12
            %button.btn.btn-primary
              SUBMIT


